body {
	border-top: 6px solid #333333; /* rgb(0, 102, 204) */
}
.bar {
  fill: #0066CC; /* rgb(0, 102, 204)*/
}
.bar:hover {
  fill: #00CC66; /* rgb(0, 204, 102) */
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
a {
  color: #0066CC; /* rgb(0, 102, 204)*/
}