#back {
  color: #0066CC; /* rgb(0, 102, 204) */
}
#filter-button {
  background-color: #00CC66; /* rgb(0, 204, 102) */
  color: #FFFFFF;
  width: 75px;
}
#dept-input {
  background-color: #0066CC; /* rgb(0, 102, 204)*/
  color: #FFFFFF;
  border: none;
  width: 75px;
}
.bar {
  fill: #0066CC; /* rgb(0, 102, 204) */
}
.bar:hover {
  fill: #00CC66; /* rgb(0, 204, 102) */
}
.axis {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.filters {
  padding-top: 10px;
  padding-bottom: 20px;
  display: inline !important;
}
.form-inline {
	width: 400px;
}
