body {
  border-top: 6px solid #333333; /* rgb(0, 102, 204) */
}
#back {
  color: #0066CC; /* rgb(0, 102, 204) */
}
#filter-button {
  background-color: #0066CC; /* rgb(0, 102, 204) */
}
#dept-input {
  background-color: #00CC66; /* rgb(0, 204, 102) */ 
  margin-left: 33%;
}
#gpa-input {
  width: 135px;
}
.filters {
  padding-top: 10px;
  padding-bottom: 20px;
}
.filter-theme {
  color: #FFFFFF;
  border: none;
  width: 135px;
}
.bar {
  fill: #0066CC; /* rgb(0, 102, 204) */
}
.bar:hover {
  fill: #00CC66; /* rgb(0, 204, 102) */
}
.axis {
  font: 11px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/* For mobile friendly version of main pages */
@media screen and (max-width: 767px) { 
  #dept-input {
  	margin-left: 0%;
  }
}
