body {
  border-top: 6px solid #333333; /* rgb(0, 102, 204) */
}
#back {
  color: #0066CC; /* rgb(0, 102, 204) */
}
#reset-button {
  margin-top: 5px;
  background-color: #00CC66; /* rgb(0, 204, 102) */ 
  color: #FFFFFF;
}
.graph {
  padding-left: 15px;
  padding-right: 0px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: none;
}
.tooltip {
  background: #E3E3E3;
  border-radius: 5px;
  position: absolute;
  margin-top: 40px;
  padding: 10px;
  pointer-events: none;
  text-align: left;
  opacity: .25;
}